{% extends 'base.html' %}
{% load staticfiles %}

{% block custom_css %}
    <link href="{% static 'OnlineNotes/css/register.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="login">
        <div class="container">

          <form action="" method="post" id="login-form">
            <div class="panel panel-default panel-single" id="panel-login">
            <input type="hidden" name="csrfmiddlewaretoken" value="VhE6QrxjL0gEI4fxC7BELbs8YOGF2LOT">

              <div class="panel-heading">

                <h2 class="form-signin-heading">请您修改密码</h2>

              </div>
              <div class="panel-body">
                  <div class="{% if msg %} has-error{% endif %}">
                       {% if msg %}
                            <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="text-danger help-block">{{ msg }}</p>
                        {% endif %}
                  </div>
                  <div id="div_id_password" class="row {% if form.password1.errors %} has-error{% endif %}">
                    <div class="controls clearfix">
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                      <input class="form-control input-lg" id="id_password1" name="password1" type="password" placeholder="新密码">
                    </div>
                        {% for error in form.password1.errors %}
                            <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="text-danger help-block">{{ error }}</p>
                        {% endfor %}

                    </div>
                  </div>
                  <div id="div_id_password" class="row {% if form.password2.errors %} has-error{% endif %}">
                    <div class="controls clearfix">
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                      <input class="form-control input-lg" id="id_password" name="password2" type="password" placeholder="新密码确认">
                    </div>
                        {% for error in form.password2.errors %}
                            <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="text-danger help-block">{{ error }}</p>
                        {% endfor %}

                    </div>
                  </div>

                  <button class="btn btn-lg btn-primary btn-block" type="submit">修改</button>
              </div>

            </div>
           {% csrf_token %}
          </form>

        </div> <!-- /container -->
    </div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
    document.getElementById('id_password1').focus()
    </script>
{% endblock %}
