{% extends "base_notes.html" %}


{% block content %}
    <section class="content-wrap">
        <div class="container">
			<div class="content-padding">
				<div class="row">
                    <h2 class="sub-header">标签列表</h2>
					<div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>标签名</th>
                              <th>修改或删除</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for tag in tags %}
                                <tr>
                                  <td>{{ tag.name }}</td>
                                    <td>
                                        <a class="btn btn-info" href="{% url 'notes:tag_editor' tag.id %}">修改</a>
                                        <a class="btn btn-danger" href="javscript:;" data-url="{% url 'notes:tag_delete' tag.id %}">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        <a class="btn btn-primary" href="{% url 'notes:tag_add' %}">添加</a>
                    </div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block custom_js %}
<script>

  $(function(){
      $('.btn-danger').on('click', function(){
          var btn = $(this);
          if(confirm('确定删除该标签吗？')){
          $.ajax(
                  {
                      cache:false,
                      type:"POST",
                      url:btn.attr('data-url'),
                      data:{
                          csrfmiddlewaretoken: '{{ csrf_token }}'
                      },
                      async: true,
                      success: function(data) {
                          if(data.status == 'success'){
                              btn.parents('tr').hide();
                          }
                          alert(data.msg)
                      }
                  }
          );
      }
      });
  })

</script>
{% endblock  %}

{#$(function(){#}
{#    $('.btn-danger').on('click', function(){#}
{#      var btn = $(this);#}
{#      if(confirm('确定删除该记录吗？')){#}
{#        $.post(btn.attr('data-url'), function(data){#}
{#          if (data === 'yes'){#}
{#            btn.parents('tr').hide();#}
{#          }else{#}
{#            alert('删除失败');#}
{#          }#}
{#        })#}
{#      }#}
{#    })#}
{#  })#}


